.cell {
    border: 2.5px solid;
    width: 100px;
    height: 100px;
    cursor: pointer;
    font-size: 65px;
}

#a1, #b1, #c1 {
    border-left: none;
}

#a3, #b3, #c3 {
    border-right: none;
}

#a1, #a2, #a3 {
    border-top: none;
}

#c1, #c2, #c3 {
    border-bottom: none;
}
#container {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    width: 300px;
    margin: auto;
}

#gameBoard {
    text-align: center;
}

body {
    text-align: center;
    padding-top: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    background-color: rgb(35, 128, 210);
}

#btn-reset {
    border-radius: 10px;
    margin-top: 74.891px;
}

h1{
    margin-bottom: 7%;
    font-size: 100px;
}

